In [16]:
# imports 
import pandas as pd
import seaborn as sns

In [17]:
# load the dataset
df = pd.read_csv("..\data\energy_dataset.csv")
df_weather = pd.read_csv("..\data\weather_features.csv")
df_weather = df_weather[df_weather["city_name"] == "Valencia"]
df_weather.drop(columns=["city_name"], inplace=True)
df

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2018-12-31 19:00:00+01:00,297.0,0.0,0.0,7634.0,2628.0,178.0,0.0,0.0,0.0,...,277.0,0.0,3113.0,96.0,NaN,3253.0,30619.0,30653.0,68.85,77.02
35060,2018-12-31 20:00:00+01:00,296.0,0.0,0.0,7241.0,2566.0,174.0,0.0,0.0,0.0,...,280.0,0.0,3288.0,51.0,NaN,3353.0,29932.0,29735.0,68.40,76.16
35061,2018-12-31 21:00:00+01:00,292.0,0.0,0.0,7025.0,2422.0,168.0,0.0,0.0,0.0,...,286.0,0.0,3503.0,36.0,NaN,3404.0,27903.0,28071.0,66.88,74.30
35062,2018-12-31 22:00:00+01:00,293.0,0.0,0.0,6562.0,2293.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3586.0,29.0,NaN,3273.0,25450.0,25801.0,63.93,69.89
35063,2018-12-31 23:00:00+01:00,290.0,0.0,0.0,6926.0,2166.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3651.0,26.0,NaN,3117.0,24424.0,24455.0,64.27,69.88

In [ ]:
df["generation_other"] = (
    df["generation biomass"]
    + df["generation geothermal"]
    + df["generation waste"]
    + df.get("generation other", 0)  # in case there's an existing "other" column
)

df["generation_coal"] = (
    df["generation fossil brown coal/lignite"]
    + df["generation fossil hard coal"]
    + df["generation fossil coal-derived gas"]
)

df["generation_oil"] = (
    df["generation fossil oil"]
    + df.get("generation fossil oil shale", 0)
    + df.get("generation fossil peat", 0)
)

df["generation_natural_gas"] = df["generation fossil gas"]

df["generation_solar"] = df["generation solar"]

df["forecast_solar"] = df["forecast solar day ahead"]

df["generation_wind"] = (
    df["generation wind onshore"]
    + df["generation wind offshore"]
)

df["forecast_wind"] = (
    df["forecast wind onshore day ahead"].fillna(0)
    + df["forecast wind offshore eday ahead"].fillna(0)
)

df = df[[
    "time",
    "generation_other",
    "generation_coal",
    "generation_oil",
    "generation_natural_gas",
    "generation_solar",
    "forecast_solar",
    "generation_wind",
    "forecast_wind",
    "total load forecast",
    "total load actual",
    "price day ahead",
    "price actual"
]]

df

,generation_other,generation_coal,generation_oil,generation_natural_gas,generation_solar,forecast_solar,generation_wind,forecast_wind
0,686.0,5150.0,162.0,4844.0,49.0,17.0,6378.0,6436.0
1,687.0,5083.0,158.0,5196.0,50.0,16.0,5890.0,5856.0
2,687.0,4904.0,157.0,4857.0,50.0,8.0,5461.0,5454.0
3,672.0,4385.0,160.0,4314.0,50.0,2.0,5238.0,5151.0
4,660.0,4027.0,156.0,4130.0,42.0,9.0,4935.0,4861.0
...,...,...,...,...,...,...,...,...
35059,637.0,2628.0,178.0,7634.0,85.0,96.0,3113.0,3253.0
35060,638.0,2566.0,174.0,7241.0,33.0,51.0,3288.0,3353.0
35061,639.0,2422.0,168.0,7025.0,31.0,36.0,3503.0,3404.0
35062,641.0,2293.0,163.0,6562.0,31.0,29.0,3586.0,3273.0
35063,638.0,2166.0,163.0,6926.0,31.0,26.0,3651.0,3117.0